#left{  
	background-color:#4682B4;
 width:100%;
 float:left;
 text-align: center;
}
#center{ text-align: center;
 background-color:#98FB98;
 margin:0px;
 font-size: 30px;
}
li {
	list-style-type: none; 
}
.menu li {
      float: left;
}
.menu li a {
	padding: 90px;
    color: #FFFF00;
}
#leftdown{
	background-color:#ADFF2F;
	width:50%;
	float:left;
	text-align: justify;
	border: 1px solid black;
}
#rightdown{
	background-color:#ADFF2F;
	width:49%;
	float:right;
	text-align: justify;
	border: 1px solid black;
}